
table,
td,
th {
    border: 1px solid;
    padding: 4px;
}
td{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.main-list {
    height: 80vh;
    overflow-y: scroll;
}